
#main {
  width: fit-content;
  height: 600px;
  margin: 16px auto;
}

canvas {
  border: solid 1px black;
}

#controls-description {
  height: 50px;
}

#other-description {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
}

#credit {
  float: right;
}

#poem {
  margin-top: 1000px;
}

h1 {
  margin-top: 1000px;
}
