
#main {
  width: 810px;
  margin: 24px auto 24px;
}

canvas {
  border: solid 1px black;
}

#controls-description {
  height: 50px;
}

#other-description {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
}

#credit {
  float: right;
}

#poem {
  margin-top: 500px;
}
